<!DOCTYPE html>
<html>
<head>
  <title>User Data Form</title>
</head>
<body>
  <h1>Enter User Details</h1>

  <form action="/submit" method="post">
    Username: <input type="text" name="username" required><br>
    Number: <input type="text" name="number" required><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>